<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rishabh.lapit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Lapit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetStartedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:parentActivityName=".GetStartedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".GetStartedActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ChatRoomActivity" />
        <activity android:name=".ShowUserActivity" />
        <activity android:name=".NotificationActivity"></activity>
    </application>

</manifest>